:root {
  /* colors */
  --clr-background: #fff;
  --clr-accent: orangered;
  --clr-text: #000;
  --clr-text-light: gray;
  --clr-link: hotpink;

  /* Fonts */
  --ff-main-text: Georgia, 'Times New Roman', Times, serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--clr-background);
  font-family: var(--ff-main-text);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

/* Utility clases */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex {
  display: flex;
  flex-direction: var(--flex-dir, row);
  justify-content: var(--justify, space-between);
  align-items: var(--align, center);
  gap: var(--gap, 1rem);
}

.container {
  margin: 0 auto;
  width: calc(100vw -1.5rem);
}

@media screen and (min-width: 600px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 820px) {
  .container {
    width: min(80, 1400px);
  }
}

/* components */

.header {
  background-color: var(--background);
}
